<!DOCTYPE html>
<html lang="en">
<head>
  <link REL=StyleSheet href="public/style.css" type="text/css" media=screen>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{!-- <h1>hello</h1>

  <a href="localhost:3000/select">Select User</a> --}}
{{{body}}}
</body>
</html>