<!DOCTYPE html>
<html lang="en">
<head>
  <link REL=StyleSheet href="/style.css" type="text/css" media=screen>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <audio controls autoplay>
  <source src="/ITALIAN RESTAURANT MUSIC - Italian Dinner, Background Music, Folk Music from Italy (1).mp3" type="audio/mp3">
</audio>
  {{!-- <h1>hello</h1>

  <a href="localhost:3000/select">Select User</a> --}}
{{{body}}}
</body>
</html>