<h1>Subway Sandwich Maker</h1>


<form action="" method="post">

<select name="meat" class="meat-selector">
<input value='Buffalo Chicken'>
<input value='Carved Turkey'>
<input value='Chicken Classic'>
<input value='Chicken Strips'>
<input value='Chicken Teriyaki'>
<input value='Diced Steak'>
<input value='Falafel'>
<input value='Leg Ham'>
</select>

</form>
